<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lightfall.eshop.dao.SearchMapper">
    <select id="searchBook" parameterType="string" resultType="book">
        select * from aneuzon.book b where b.book_name like #{bookName}
    </select>
    <select id="getSearchResultInPage" resultType="book">
        select * from aneuzon.book b where b.book_name like CONCAT(CONCAT('%', #{bookName}), '%')
        limit #{startId}, #{pageSize}
    </select>
    <select id="getSearchCount" parameterType="string" resultType="_int">
        select count(*) from aneuzon.book b where b.book_name like CONCAT(CONCAT('%', #{bookName}), '%')
    </select>
</mapper>